<strong> Olá, {{ students }}</strong>
<p> Sua Matricula foi realizada com sucesso!!</p>
<p>
    <strong>O plano escolhido foi ó: </strong> {{ plan}} <br>
    <strong>Data inicial da matricula: </strong> {{ start_date }} <br>
    <strong>Data final da sua matricula:</strong> {{end_date }}<br>
    <strong>Valor mensal do plano:  </strong> {{ plan_valor}} <br>
    <strong>Valor total do seu plano: </strong> {{total_valor}} <br>
    <br />
    <small>
        <p>
          Obrigado por fazer parte da GymPoint. Estamos animados para ajudá-lo a atingir seus objetivos de saúde e fitness. Com a nossa experiência, profissionais dedicados e localizados na melhor região do bairro, sabemos que poderemos apoiá-lo na sua caminhada.
      </p>
    </small>

</p>
